html
    head
        title Ben Rushworth
        link(rel="stylesheet" href="/styles/style.css")
        script(src="javascript/index.js")

    body
        div#landing-section.center-items
            h1.text-centered Ben Rushworth

            h2.text-centered Notable Projects
            div#projects
                div(url="https://github.com/bjr29/SharpEngine")
                    div.details
                        h4.text-centered Sharp Engine
                        p A 2D game engine made in C# with SDL2-CS.
                    div.tech
                        span.cs C#
                        span.cli CLI

                div(url="https://github.com/bjr29/rust_os")
                    div.details
                        h4.text-centered Rust OS
                        p A "Hello World!" operating system written in Rust.
                    div.tech
                        span.rust Rust
                        span.app Misc App

                div(url="https://github.com/bjr29/Minecraft-Minigames-Plugin")
                    div.details
                        h4.text-centered Minecraft Minigames Plugin
                        p A Minecraft Spigot plugin for running a mini game server.
                    div.tech
                        span.java Java
                        span.addon Addon

                div(url="https://github.com/bjr29/y")
                    div.details
                        h4.text-centered Y Esolang
                        p An unfinished esolang programming language written in Rust similar to Cobol.
                    div.tech
                        span.rust Rust
                        span.cli CLI

                div(url="https://github.com/bjr29/y_cpp")
                    div.details
                        h4.text-centered Y C++ Esolang
                        p A rewrite of Y but in C++.
                    div.tech
                        span.cpp C++
                        span.cli CLI
