@font-face {
  font-family: "LemonMilk";
  src: url("../fonts/LEMONMILK-Regular.otf");
}

html, body {
  margin: 0;
  font-family: LemonMilk, sans-serif;
}

#landing-section {
  width: 100vw;
  margin: 5% 0;
}

#landing-section h1 {
  margin-bottom: 2.5%;
  font-size: 48px;
}

@media (min-width: 640px) {
  #landing-section h1 {
    font-size: 64px;
  }
}

#landing-section h2 {
  margin-bottom: 1.25%;
  font-size: 32px;
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-centered {
  text-align: center;
}

#projects {
  display: grid;
  grid-column-gap: 20px;
  width: 320px;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 640px) {
  #projects {
    width: 620px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  #projects {
    width: 940px;
    grid-template-columns: repeat(3, 1fr);
  }
}

#projects > div {
  width: 100%;
  display: flex;
  height: 200px;
  box-shadow: lightgray 10px 10px 25px;
  border-radius: 10px;
  flex-direction: column;
  margin-bottom: 20px;
}

@media (min-width: 640px) {
  #projects > div {
    width: 300px;
  }
}

#projects > div .details {
  justify-content: space-between;
  height: 100%;
}

#projects > div .details h4 {
  font-weight: bold;
}

#projects > div .details p {
  font-family: sans-serif;
  margin: 10px;
}

#projects > div .tech {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

#projects > div .tech span {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

#projects > div .tech span:first-child {
  border-bottom-left-radius: 10px;
}

#projects > div .tech span:last-child {
  border-bottom-right-radius: 10px;
}

#projects > div .tech .cs {
  border-bottom: 5px solid mediumpurple;
}

#projects > div .tech .cpp {
  border-bottom: 5px solid dodgerblue;
}

#projects > div .tech .rust {
  border-bottom: 5px solid orangered;
}

#projects > div .tech .java {
  border-bottom: 5px solid cornflowerblue;
}

#projects > div .tech .pjs {
  border-bottom: 5px solid orange;
}

#projects > div .tech .cli {
  border-bottom: 5px solid black;
}

#projects > div .tech .app {
  border-bottom: 5px solid blue;
}

#projects > div .tech .addon {
  border-bottom: 5px solid firebrick;
}

#projects > div .tech .web {
  border-bottom: 5px solid darkblue;
}

#projects > div:hover {
  box-shadow: darkgrey 10px 10px 25px;
}

a.button, a:link.button, a:visited.button {
  background-color: black;
  color: white;
  text-decoration-line: none;
}

.faded {
  opacity: 0.3;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

canvas {
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
}
